@use '../../../../../libs/trf-components/src/theme/mixins/container.mixin' as *;
@use '../../../../../libs/trf-components/src/theme/variables/text-styles' as *;

.wrapper {
  @include app-container;
  padding-bottom: 3rem;
}

.formWrapper {
  display: grid;

  grid-template-columns: 394px 175px;
  gap: 0 2.8125rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.625rem;
  label {
    margin-bottom: 0.5rem;
    @include cta;
  }
  input, select {
    max-width: 350px;
  }
}

.title {
  @include title;
  grid-column: span 2;
  padding-bottom: 2.625rem;
  &:first-child {
    padding-top: 4.625rem;
  }
}

.pixType {
  grid-column: span 2;
}

.btnsWrapper {
    display: flex;
    max-width: 40.4375rem;
    justify-content: space-between;
    align-items: center;
}
